{% extends "base.html" %}
{% block content %}
<div class="container ">
    <h1 class="text-center text-light mt-3 mb-5">What's your might goal for today?</h1>
    <form method="POST" action="{% url 'goalAdd' %}">
        {% csrf_token %}
        <div class="card text-light">
            <div class="card-body bg-success">
                <h2 class="card-title text-center">Name the goal</h2>
                <h2 class="card title">{{goalform.title}}</h2>
                <div class="card-body">
                    <h4>Describe the goal</h4>
                    <p>{{goalform.description}}</p>
                    <div class="row">
                        <div class="col-6">
                            <h4>Set a start date</h4>
                            <p>{{goalform.start_date}}</p>
                        </div>
                        <div class="col-6">
                            <h4>Set a dealine</h4>
                            <p>{{goalform.end_date}}</p>
                        </div>
                    </div>     
                </div>
            </div>
        </div>
        <h2 class="text-center mt-3 mb-5">Break it down into tasks</h2>
        <div class="card bg-warning">
            <h2 class="card-title text-center mt-2 mb-3">Describe a first task</h2>
            <div class="card-body">
                <p>{{taskform.content}}</p>
            </div>
        </div>
        <button class="btn btn-warning mt-2 mb-2" type="submit">SET IT</button>
    </form>
</div>
    
{% endblock %}